*{  
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 25.6px;
    text-decoration: none solid rgb(0,0,0);
    color: black;
    box-sizing: border-box;
}
.color{
    color: black;
}
#header{
    height:126.458px;
    width:100%;
    padding: 20px 0;
    border: 1px solid red;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
#upper{
    height:86.4583px;
    width:100%;
    padding: 0 25px;
    max-width: 100%;
}
#top-upper-section{
    display: flex;
    height:50.6667px;
    width:100%;
    justify-content: center;
}
#top-upper-section>div>img{
    height:30.667px;
    font-size: 30px;
    line-height: 30px;
}
#top-bottom-section{
    display: block;
    height:35.7917px;
    width:100%;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 10px;
}
#top-bottom-section a{
    font-size: 13px;
    letter-spacing: 2.6px;
    line-height: 20.8px;
    text-align: center;
    vertical-align: middle;
    padding-left: 30px;
}
.nxt{
    text-align: center;
    border:1px solid red;
    margin-bottom: 0px;
    background-color: black;
}
.nxt a,strong{
    color: white;
    padding:5px 5px;
}
.carousel-item{
    height:32rem;
    background: #777;
    color:white;
    margin-top:0px;
    background-position: center;
    background-size: cover;
}
.container h1,p{
    color: white;
}
.container{
    text-align: center;
    margin-top: 200px;
}
.container h1{
    font-size: 40px;
}
#myCarousel{
    margin-top: 0px;
    /* border: 2px solid green; */
    /* display: block; */
}
#gridFirst{
    border: 1px solid red;
    height: 483px;
    width:95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px 30px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
}
.model{
    height:480px;
    background: #777;
    color:white;
    margin-top:0px;
    background-position: center;
    background-size: cover;
}
.containers{
    text-align: justify;
    color:white;
    margin-top: 50%;
    margin-left: 20px;
    text-align: center;
}
.containers h2{
    color: white;
    text-align: center;
    
}
.containers h3{
    font-size: 25px;
    color: white;
    text-align: center;
}
#gridSecond{
    border:2px solid red;
    width:100%;
    height:720px;
}
#gridSecond>h1{
    text-align: center;
    font-size: 32.68px;
    line-height: 32.68px;
    font-family: tiemann,serif;
    text-transform: uppercase;
    margin-top: 5px;
}
#category{
    border: 1px solid red;
    height:660px;
    width:90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,250px);
    gap:20px 30px;
    justify-content: space-evenly;
    margin:20px
}
.fitImage{
    display: block;
    background: #777;
    color:white;
    margin-top:0px;
    background-position: center;
    background-size: cover;
}